body {
  background: lightsteelblue;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 2%;
  font-family: sans-serif;
  font-size: 12pt;
}

a:link, a:visited {
  color: blue;
}

a:active {
  color: red;
}

pre {
  font-size: 10pt;
}

#content {
  background: ivory;
  padding: 20px;
  width: 680px;
  margin: auto;
}

.form-line {
  margin-top: 5px;
}

.form-line label {
  display: inline-block;
  width: 100px;
}
.form-line input {
  display: inline-block;
}

.form-line input[type=file] {
  padding-left: 4px;
}

#append {
  margin-left: 100px;
  padding-left: 4px;
  color: darkblue;
  cursor: pointer;
  font-size: 10pt;
}

.error {
  color: red;
}

li > ol {
  list-style-type: lower-alpha;
}

table, td {
  border: 1px solid gray;
  border-collapse: collapse;
  padding: 7px;
}
